<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <style>

    body {
      width: 1400px;
    }

    .floated_img
    {
        float: left;
    }

  </style>

  <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/client.js"></script>

  <title> food2fork </title>
</head>
<body>
   <h1>Food2Fork App</h1>
   <p>Please enter your ingredient - Please enter your ingredient - more than one ingredients should be seperated by a comma with <strong> no spaces </strong>        ex. "beef,cheese" not "beef, cheese"

     <form method="post" action="/recipes/submit">
         <input type="text" name="ingredient">
         <button type="submit">Submit</button>
     </form>

<!-- used to store pictures from server -->
     <p1> </p1>
     <p2> </p2>
     <p3> </p3>
     <p4> </p4>
     <p5> </p5>
     <p6> </p6>
     <p7> </p7>
     <p8> </p8>
     <p9> </p9>

 </body>
</html>
